a {
    text-decoration: none !important;
}
.section-padding {
    padding: 80px 0;
}
/* Speaker */
.wp-bb-speaker {
    margin-top: 70px !important;
}
.wp-bb-speaker li {
    background: #f0eeff;
    padding: 35px 14px !important;
    border-radius: 30px;
}

/* Blog Page */
.wp-bb-page-breadcrumb {
    background: #3858E9;
    padding: 60px 0;
}
.wp-bb-page-breadcrumb h1 {
    color: #fff;
    font-size: 60px;
}
:where(.wp-site-blocks) > * {
    margin-block-start: 0;
}

/* Ticket */

.bb-ticket div#tix {
    border: 1px solid #ddd;
    padding: 33px 20px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.bb-ticket div#tix form p {
    display: inline-block;
    margin-left: 48px;
}

.bb-ticket div#tix form table {
    display: inline-block;
    float: left;
}

.bb-ticket div#tix form p input {
    background: #3858e9;
    border: 0px;
    color: #fff;
    padding: 13px 20px;
    float: right;
}
.bb-ticket div#tix form table tr th {
    width: 100px;
    text-align: center !important;
}

.bb-ticket div#tix form table tr td {
    width: 100px;
    text-align: center;
}

/* Volunteer */
.bb-organizer .wp-block-column.is-layout-flow.wp-block-column-is-layout-flow {
    /* background: #3858e914; */
    padding: 50px 10px;
    border-radius: 34px;
    position: relative;
}
.bb-organizer .wp-block-column.is-layout-flow.wp-block-column-is-layout-flow::before{
    content: '';
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 0;
    width: calc(100% - 60px);
    height: calc(100% - 48px);
    background: #ffdfe0;
    z-index: -1;
    border-radius: 20px;
}
.bb-organizer .wp-block-column.is-layout-flow.wp-block-column-is-layout-flow:after {
    content: '';
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    width: calc(100% - 60px);
    height: calc(100% - 48px);
    background: #ffdfe0;
    z-index: -1;
    border-radius: 20px;
}
.bb-organizer .wp-block-column.is-layout-flow.wp-block-column-is-layout-flow .wp-block-heading {
    position: relative;
}
.bb-organizer .wp-block-column.is-layout-flow.wp-block-column-is-layout-flow .wp-block-heading:before {
    content: '';
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background-image: radial-gradient(circle at 93% 87%, transparent 1rem, #ffdfe0 calc(1rem + 1px));
    transform: rotate(-168deg);
    top: -158px;
    left: 29px;
}
.bb-organizer .wp-block-column.is-layout-flow.wp-block-column-is-layout-flow .wp-block-heading:after {
    content: '';
    position: absolute;
    bottom: -119px;
    right: 29px;
    width: 2rem;
    aspect-ratio: 1;
    background-image: radial-gradient(circle at 93% 87%, transparent 1rem, #ffdfe0 calc(1rem + 1px));
    transform: rotate(15deg);
}
.bb-organizer p.has-text-align-center {
    font-size: 22px;
    font-weight: 600;
    margin-top: 2px;
}
/* Blog */
.bb-blog figure.wp-block-post-featured-image {
    aspect-ratio: auto !important;
    padding-bottom: 0 !important;
}